body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0, 0, 10px;
}

/* Container */

.container{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

/* Header */

.header{
    width: 100%;
    position: absolute;
}

.headerinner{
    display: flex;
    justify-content:space-between;
    padding: 46px 0;
    align-items: center;
    border-bottom: 3px solid #515369;
}
/* tercer nivel*/
                .features {
                    display: flex;
                    margin: 100px 0;
                    flex-wrap: wrap;
                }

                .features-items {
                    width: 33.33333%;
                    text-align: center;
                    padding: 0 46px;
                    margin: 25px 0;
                }

                .feature-icon {
                    margin-bottom: 34px;
                }

                .feature-title {
                    margin-bottom: 25px;
                    color: #2d3033;
                    font-family: Raleway;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .feature-text {
                    color: #6c7279;
                    font-family: Raleway;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.5;
                }
/* Nav */

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link{
    margin-left: 59px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link:hover{
    opacity: 1;
}

/*Intro*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 157px;
    background:
    url("../img/intro-bg.png") center 
    no-repeat / cover;
}

.introinner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.introtitle {
    margin: 0 0 47px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.introsubtitle{
    margin-bottom: 82px;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/*Button*/

.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 18px 54px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.btn--red{
    background-color: #e84545;

}

.btn--red:hover{
    background-color: #df2f2f;
}
/* Sección 3*/
.works{
    display: flex;
    flex-wrap: wrap;

}
.works__item{
    width: 25%;
    height: 350px;
    border-bottom: 0px solid #fff;
    border-right: 0px solid #fff;
    position: relative;
    overflow: hidden;
}
.works__item:hover .works__content{
    opacity: 1;
}
.works__photo{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}
.works__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .2s linear;
}
.works__title{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.works__text{
    font-size: 14px;
    color: #fff;
}

/*sección 4*/
ul{
    padding-left: 0px;
}
.our_team{
    padding-top: 103px;
    padding-bottom: 103px;
    padding-left: 300px;
    padding-right: 300px;
}
.our_team img{
    max-width: 200px;
}
article ul li{
    font-size: 22px;
    font-family: 'Raleway';
    color: #8f9192;
    list-style:none; padding-left:0px;
    padding-right: 0px;
}
article ul li-2{
    font-size: 13px;
    font-family: 'Raleway' ; 
    color: #e84545;
    list-style:none; padding-left:0px;
    padding-right: 0px;
}
article ul li-3{
    font-size: 12px;
    font-family: 'Raleway' ; 
    color: #babdc0;
    list-style:none; padding-left:0px;
    padding-right: 0px;
}
/*reviews*/
.reviews{
    overflow: hidden;
    background-color: #53354a;
}

.reviews__item{
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo{
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text{
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 45px;
}

.reviews__author{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

/* Download */

.download{
    margin: 102px 0 100px;
    text-align: center;
}

.download__title{
    margin-bottom: 22px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}

.download__text{
    margin-bottom: 41px;
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}
<<<<<<< HEAD
/* Social */
.social{
    display: flex;
}
.social--footer{
    justify-content: center;
}
.social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    background-color: #fff;
    border: 1px solid #e8ecce;
    transition: background .1s linear;
}
.social__item:hover{
    background-color: #e8ecce;
}
.social__item:hover .social__icon{
    fill: #e84545;
}
.social--footer .social__item{
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}
.social--footer .social__item:hover{
    background-color: #fff;
}
.social__icon{
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: fill .1s linear;
}
.social--footer .social__icon{
    fill: #fff;
}
/* Download */
.download{
    margin: 102px 0 100px;
    text-align: center;
}
.download__title{
    margin-bottom: 22px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}
.download__text{
    margin-bottom: 41px;
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}
/* Footer */
.footer{
    background-color: #3a3e64;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
    padding: 71px 0 107px ;
}
.footer__block{
    width: 33.33333%;
    padding:0 20px;
    text-align: center;
}
.footer__title{
    margin-bottom: 23px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.footer__address{
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}
.footer__text{
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}
/* Copyright */
.copyright{
    background-color: #313454;
    padding: 29px 0 32px;
}
.copyright__text{
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}
.copyright__text span{
    color: #fff;
}
/* Media */

@media (max-width: 991px){

    /* Footer */
    .footer__inner{
        padding: 30px 0;
    }
    .footer__block{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .footer__block:last-child{
        margin-bottom: 0;
    }
=======
/*otros*/
>>>>>>> 29867a0160ce43b2c3ed73daae76c101a191103c
