body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0, 0, 10px;
}

/* Container */

.container{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

/* Header */

.header{
    width: 100%;
    position: absolute;
}

.header__inner{
    display: flex;
    justify-content:space-between;
    padding: 46px 0;
    align-items: center;
    border-bottom: 3px solid #515369;
}
/* Nav */

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link{
    margin-left: 59px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link:hover{
    opacity: 1;
}

/*Intro*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 157px;
    background:
    url("../img/intro-bg.png") center 
    no-repeat / cover;
}

.intro__inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 47px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.intro__subtitle{
    margin-bottom: 82px;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/*Button*/

.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 18px 54px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.btn--red{
    background-color: #e84545;

}

.btn--red:hover{
    background-color: #df2f2f;
}
/* Imagenes*/
.imagenes{

}